<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Projects and tasks
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                            <a href="{% url 'list_projects' %}">My projects</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'signup' %}">Sign up</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
