{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length == 0 %}
                <p>
                    You have no tasks
                </p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ant in task_list %}
                            <tr>
                                <td>{{ ant.name }}</td>
                                <td>{{ ant.start_date }}</td>
                                <td>{{ ant.due_date }}</td>
                                <td>
                                    {% if is_completed|length == 0 %}
                                        <form method="post" action="{% url 'complete_task' ant.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                        {{ ant.is_completed }}
                                    {% else %}
                                        {{ ant.is_completed }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
