{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            {{ project.description|markdownify }}
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dog in project.tasks.all %}
                            <tr>
                                <td>{{ dog.name }}</td>
                                <td>{{ dog.assignee }}</td>
                                <td>{{ dog.start_date }}</td>
                                <td>{{ dog.due_date }}</td>
                                <td>{{ dog.is_completed }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
            {% else %}
                <p>
                    This project has no tasks
                </p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
